<style>
#save{
  background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 1px;
    cursor: pointer;

}
</style>
{% block content %}
{% include "staffs/html_snippets/nav_bar_studymaterial.html"%}
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id="save" class="save btn btn-default">Save</button>
    </form>
{% endblock %}